{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--page start-->
<div class="page sidebar-true">




    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">CARPET CLEANING</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                            </span>
                            <!-- <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                            <span><span>Wiring And Installation</span></span> -->
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white break-991-colum clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    {% include 'web/partials/sidenavbar.html' %}
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <h3>CARPET CLEANING</h3>
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'web/images/service-single/carpet cleaning.jpg' %}"
                                    alt="">
                            </div>
                            <div class="ttm-service-description">
                                <div class="mb-35">
                                    <h5>Quality Carpet Shampoo Cleaning Dubai</h5>
                                    <p class="text-justify">SHTS offers expert carpet shampoo cleaning Dubai to both residential and commercial clients. Whether it's a one-time clean or a regular service, our crew of seasoned cleaners will leave your property spotless. </p>
                                    <p class="text-justify">If you require any assistance with your cleaning, please contact us since we also provide a wide range of other services. Because we are aware of how busy everyone is these days, we provide a simple online booking form that makes it simple to get your home cleaned whenever you need it. Schedule a cleaning service in Dubai right away!</p>
                                    
                                </div>
                                <div>
                                    <h5>How We Work?</h5>
                                    <p class="text-justify">After inspecting your carpet, we will employ the best carpet cleaning technique. The most common, safe, and effective method is to shampoo and sanitise the carpet. </p>
                                    <p class="text-justify">Deep vacuuming and shampooing are effective methods for removing all types of dirt and stains. After the procedure, the carpet will be dry and chemical-free. We bring back the carpet's original freshness and condition while eliminating all odours. The involved actions are:</p>
                                    <ul>
                                        <li style="list-style: disc;">On-site Inspection
                                        <p>We examine the carpet in the client's home. Our crew will inspect the rooms with carpeted floors to find any blemishes or stains. On the inspection, we will make an effort to determine the severity of the stains.</p></li>
                                        
                                        <li style="list-style: disc;">Vacuuming 
                                        <p>By vacuuming the carpet, our crew will get rid of all the sand, dirt, or other debris on the surface. To achieve the optimum results, this is essential.</p></li>
                                    
                                        <li style="list-style: disc;">Spot-Treatment
                                        <p>We address each blemish and stain that we previously noted. To remove the stain, a cleaning product is sprayed to every area that requires special attention.</p></li>

                                        <li style="list-style: disc;">Shampooing
                                        <p>The carpet is first shampooed by the machine to remove any dirt lodged deep inside the fibres. The shampoo is extracted, and the dirt is also removed.</p></li>

                                        <li style="list-style: disc;">Powerful Suction
                                            <p class="text-justify">The machine's powerful suction will quickly dry the carpet by removing any remaining water and debris.</p>
                                        </li>

                                        <li style="list-style: disc;">Final Inspection
                                        <p class="text-justify">To guarantee the finest outcome and customer satisfaction, we perform a final inspection of the carpet.</p></li>

                                    </ul>
                                </div>
                                <div>
                                    <h5>Why Choose Us?</h5>
                                    <p class="text-justify">We employ tried-and-true technologies to get rid of allergies, stains, and grime. By doing this, the best outcomes are possible. Additionally, after cleaning, the smell that was there in your home is completely eliminated. The cleaning agent employed guards against wear and tear and stops future damage. Kids and pets can use it without any problems.</p>
                                    <p class="text-justify">Most significantly, a highly effective vacuum cleaning device removes all the water from the carpet, leaving only a small amount of moisture. It will therefore dry up very quickly.</p>
                                </div>

                                </div>

                            </div>

                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>

                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->


    </div>
    <!--site-main end-->



</div><!-- page end -->


{% endblock %}