{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}

<!--page start-->
<div class="page sidebar-true">




    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">CARPENTRY</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                            </span>
                            <!-- <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                                <span><span>CARPENTRY</span></span> -->
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white break-991-colum clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    {% include 'web/partials/sidenavbar.html' %}
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <h3>CARPENTRY</h3>
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'web/images/service-single/carpentry.jpg' %}"
                                    alt="">
                            </div>
                            <div class="ttm-service-description">
                                <div class="mb-35">
                                    <p>Crafting skills in the woods to furnish innovative and favourable furniture for
                                        your necessities at the best affordable service rates. SHTS consists of
                                        professional and talented individuals to craft stunning furniture that meets
                                        your expectations. Connect with us and get the best carpentry service at your
                                        doorstep.</p>

                                    <p>
                                        Whatever construction you possess, carpentry work is a must for making it alive.
                                        The various carpentry work includes rough carpentry (specialize in planning,
                                        building and maintaining structures of buildings), shelving units, joister, trim
                                        carpentry, cabinet carpentry, ship carpentry framer, roofer..etc.

                                        <ul>
                                            <li>Handcraft products.</li>
                                            <li>Making reliable furniture.</li>
                                            <li>Completes the interior decoration.</li>
                                            <li>Adding beauty to your construction.</li>
                                            <li>Creative furniture can reduce space consumption.</li>
                                            <li>Creating attractive home decors.</li>
                                            <li>Pollution-free and freshness</li>
                                        </ul>
                                    </p>
                                </div>


                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>

                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->


    </div>
    <!--site-main end-->



</div><!-- page end -->


{% endblock %}