{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--page start-->
<div class="page sidebar-true">




    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">CONSTRUCTION CLEANING</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                            </span>
                            <!-- <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                            <span><span>Wiring And Installation</span></span> -->
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white break-991-colum clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    {% include 'web/partials/sidenavbar.html' %}
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <h3>CONSTRUCTION CLEANING</h3>
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'web/images/service-single/ac service.jpg' %}"
                                    alt="">
                            </div>
                            <div class="ttm-service-description">
                                <div class="mb-35">
                                    <h5>We Take Care of Your Building</h5>
                                    <p class="text-justify">We have what you need to maintain your job site operational while you finish your project. We can take care of everything from routine cleaning during various stages of construction to post-construction cleaning to special one-time thorough cleans.</p>
                                    <p class="text-justify">An urgent need for post-construction cleaning services arises when a home is being renovated, a building is being developed, or when the kitchen or bathrooms are being renovated. The majority of construction businesses clean up the debris as soon as the last touches are made, but because the crew is not trained as cleaners, it is then necessary to hire a professional cleaning service. To get the task done properly, it is best to use qualified cleaners with experience in the current construction cleaning service.</p>
                                    
                                </div>
                                <div>
                                    <h5>What’s Included in Post Construction Cleaning Dubai?</h5>
                                    <ul>
                                        <li style="list-style: disc;">Rough Clean
                                        <p>On-site cleaning is done quickly before the construction is finished. Although not all construction sites will need to be thoroughly cleaned, the majority do. After the building is finished, workers clear the site of all trash, debris, and hazardous materials.</p></li>
                                        
                                        <li style="list-style: disc;">Final Interior Clean  
                                        <p>More extensive cleaning is done when the installation is finished. Depending on the sort of room that needs to be cleaned, the final interior cleanup will change. A specialist strategy will be needed for kitchens and bathrooms with cabinetry, countertops, fixtures, and appliances.</p></li>
                                    
                                        <li style="list-style: disc;">Exterior Clean
                                        <p>A thorough exterior clean may not be required if the majority of the building was done inside. When there have been significant renovations or new construction, an external clean is typically necessary. This stage sets up the house for paving and landscaping tasks that improve the property's curb appeal.</p></li>
                                    </ul>
                                </div>
                                <div>
                                    <h5>Post Construction Cleanup from SHTS</h5>
                                    <p class="text-justify">Home and business owners are entitled to a smooth re-entry. The safest and most dependable way to resume operations inside the recently completed space is with skilled post-construction cleaning. One reliable post-construction cleaning Dubai business that can get the job done well is SHTS.</p>
                                    <p class="text-justify">A variety of cleaning techniques are used by SHTS crews to provide a thorough deep clean. We clear up paint overspray, mop floors, treat carpeting, clean bathrooms, and clean light fixtures in addition to spot-cleaning glass and walls. Our cleaning staff has received training to adhere by all local laws.</p>
                                </div>
                                </div>

                            </div>

                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>

                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->


    </div>
    <!--site-main end-->



</div><!-- page end -->


{% endblock %}