{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--page start-->
<div class="page sidebar-true">




    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">MATTRESS CLEANING</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                            </span>
                            <!-- <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                            <span><span>Wiring And Installation</span></span> -->
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white break-991-colum clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    {% include 'web/partials/sidenavbar.html' %}
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <h3>MATTRESS CLEANING</h3>
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'web/images/service-single/ac service.jpg' %}"
                                    alt="">
                            </div>
                            <div class="ttm-service-description">
                                <div class="mb-35">
                                    <h5>Professional Mattress Cleaning Sharjah</h5>
                                    <p class="text-justify">It is a well-known fact that carpets, sofas, and mattresses are some of the most difficult household goods to clean, disinfect, and preserve, particularly at a time when the COVID-19 pandemic is causing a global health disaster.  </p>
                                    <p class="text-justify">Hire SHTS if you don't want to feel anxious about having to clean your carpet and furniture. At extremely reasonable pricing in Sharjah and Dubai, our specialists do their best to keep your carpets, rugs, mattress, & sofa gleaming & fresh for a long time.</p>
                                    
                                </div>
                                <div>
                                    <h5>How We Do It?</h5>
                                    <p class="text-justify">Cleaning the mattress on your own is a difficult task due to the small space and strong air circulation. At SHTS, we offer affordable professional mattress cleaning service Dubai.</p>
                                    <p class="text-justify">Stage 1: The mattress is cleaned using specialised mattress washing equipment. <br>
                                        Stage 2: The remaining of the dust is then trapped by a powerful vacuum cleaner, which also eliminates any bacteria, mites, or viruses that may be present in the mattress. <br>
                                        Stage 3: In case the mattress has any stains or blemishes, this is done. The mattress is sprayed with a spot cleaner to remove the stain. The stain is subsequently removed using the hot water extraction method. <br>
                                        Stage 4: To eliminate the bacteria and clean the mattress, a non-chemical disinfectant is sprayed on it. This antiseptic has no scent and can eliminate any stink from the mattress. It can even kill microorganisms like H5N1, SARS, and Herpes. It is safe for fabrics. <br>
                                        Even with the mattress on the bed, the entire operation is carried out on both sides of the mattress. Regular mattress cleaning guarantees that your mattress is not only clean but also enhances the quality of the air within your home.
                                    </p>
                                </div>
                                <div>
                                    <h5>Why Choose Us?</h5>
                                    <p class="text-justify">We advise everyone to protect their mattress after cleaning. You can cover the mattress with a waterproof mattress cover made of cloth and cover it with your usual bed sheet. </p>
                                    <p class="text-justify">We are proud to offer the top mattress cleaning service Dubai, and we offer the best rates. With the machine, our skilled cleaners would visit your house to provide cleaning services. On the day of your reservation, your mattress would be vacuumed and cleaned.</p>
                                    <ul>
                                        <li style="list-style: disc;">No hidden fees policy</li>
                                        <li style="list-style: disc;">Respecting you and your home</li>
                                        <li style="list-style: disc;">Eco-cleaning</li>
                                        <li style="list-style: disc;">Satisfaction guaranteed</li>
                                    </ul>
                                </div>

                                </div>

                            </div>

                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>

                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->


    </div>
    <!--site-main end-->



</div><!-- page end -->


{% endblock %}