{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--page start-->
<div class="page sidebar-true">




    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">OFFICE CLEANING</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                            </span>
                            <!-- <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                            <span><span>Wiring And Installation</span></span> -->
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white break-991-colum clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    {% include 'web/partials/sidenavbar.html' %}
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <h3>OFFICE CLEANING</h3>
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'web/images/service-single/ac service.jpg' %}"
                                    alt="">
                            </div>
                            <div class="ttm-service-description">
                                <div class="mb-35">
                                    <h5>With Us Make a Fresh New Start with a Spotless Office</h5>
                                    <p class="text-justify">The cleanliness of your office space can have a more significant effect on your productivity. Many people are concerned with keeping their houses clean and orderly, but neglect to give office cleaning the same attention. With office deep cleaning services Dubai you can get rid of the major disease spreading viruses.  Keeping your office organised will ultimately be made easier by keeping it tidy. Keep in mind that a tidy workplace is more comfortable and promotes better employee performance.</p>
                                    <p class="text-justify">In order for you to feel confident that you can focus on operating your business and leave the cleaning to us, SHTS aims to develop enduring relationships with each of its clients. As a result of our strong client connections, we learn about your changing needs, adapt to them, and customise our services to both meet and surpass your expectations.</p>
                                    
                                </div>
                                <div>
                                    <h5>What are the Benefits of Professional Office Cleaning Services?</h5>
                                    <p class="text-justify">The way your office is decorated has a big impact on how well the business as a whole performs. A spotless workplace typically gives off a fully professional appearance that typically attracts clients and visitors who want to do business with the company. This can be attained with commercial cleaning in Dubai. </p>
                                    <ul>
                                        <li style="list-style: disc;">Enhances productivity
                                        <p class="text-justify">The office environment often increases a person's productivity since they are successful in easily finding a variety of things they need for their work.</p></li>

                                        <li style="list-style: disc;">Improves Health of Workers
                                            <p class="text-justify">There will be an accumulation of spider webs, dust, and lint when office cleaning services are no longer performed exactly on a regular basis, which ultimately leads to respiratory issues.</p>
                                        </li>

                                        <li style="list-style: disc;">Reduces Work Stress
                                            <p class="text-justify">
                                                Your staff will frequently become anxious in cluttered settings, especially when they can no longer find what they need.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h5>Why Choose Us?</h5>
                                    <p class="text-justify">All of our office cleaning services Sharjah are provided by skilled professionals that will exceed your expectations. We accommodate your schedule and provide you more free time to pursue your interests. Due to the fact that we are aware of the high standards of our clients, we teach all of our cleaners to deliver services that are customised to meet specific needs.</p>
                                   
                                    <ul>
                                        <li style="list-style: disc;">24 hrs booking</li>
                                        <li style="list-style: disc;">7 days a week</li>
                                        <li style="list-style: disc;">Attention to detail</li>
                                        <li style="list-style: disc;">Eco-friendly services</li>
                                    </ul>
                                </div>

                                </div>

                            </div>

                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>

                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->


    </div>
    <!--site-main end-->



</div><!-- page end -->


{% endblock %}