{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--page start-->
<div class="page sidebar-true">




    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">RESIDENTIAL CLEANING</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                            </span>
                            <!-- <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                            <span><span>Wiring And Installation</span></span> -->
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white break-991-colum clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    {% include 'web/partials/sidenavbar.html' %}
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <h3>RESIDENTIAL CLEANING</h3>
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'web/images/service-single/RESIDENTIAL CLEANING.jpg' %}"
                                    alt="">
                            </div>
                            <div class="ttm-service-description">
                                <div class="mb-35">
                                    <h5>Affordable and the Top-Notch Residential Cleaning Services Dubai</h5>
                                    <p class="text-justify">Welcome to the best apartment deep cleaning services Dubai provided by SHTS. We are solely committed to cleaning and organising your home, in contrast to other cleaning businesses. 
                                        Our goal is to make your home clean and hygienic so that you may live happily there. We are Dubai's top provider of house cleaning services because of this.</p>

                                    
                                </div>
                                <div>
                                    <h5> Why Hire Professional Cleaners?</h5>
                                    
                                    <ul>
                                        <li style="list-style-type: disc;">Deeper Cleaning</li>
                                        <p>Your home will receive the attention it needs from seasoned house cleaners. Professional cleaners can perform deep cleaning for you.
                                            They can vacuum and dust hard-to-reach places like windows. They may clean cobwebs from windows and descale faucets.</p>
                                        <li style="list-style-type: disc;">Fast Cleaning</li>
                                        <p>Hiring a professional residential cleaning services Dubai will be your best bet if you need your house to sparkle in a matter of hours. 
                                            In order to save time, hire a cleaner. They'll be more effective and finish organising your house in the time allotted. </p>
                                    </ul>
                                </div>
                                <div>
                                    <h5>Better Investment</h5>
                                    <p class="text-justify">Many things in your house will last longer if getting cleaned by professionals. Valuable things like carpets, window blinds, rugs, and furniture will last longer with regular cleaning.</p>
                                    <p class="text-justify">Professional cleaners are also adept at removing stains without inflicting any damage from delicate goods like window blinds, worktops, and carpets.</p>
                                </div>
                                <div>
                                    <h5>Our Residential Cleaning Services Includes the following:</h5>
                                    <ul>
                                        <li><i class="fa-sharp fa-solid fa-check"></i>
                                            <span>Dusting</span></li>
                                        <li><i class="fa-sharp fa-solid fa-check"></i>
                                            <span>Mopping floors</span></li>
                                        <li><i class="fa-sharp fa-solid fa-check"></i>
                                            <span>Vacuuming</span></li>
                                        <li><i class="fa-sharp fa-solid fa-check"></i>
                                            <span>Fixtures</span></li> 
                                        <li><i class="fa-sharp fa-solid fa-check"></i>
                                            <span>Washing surfaces</span></li>  
                                        <li><i class="fa-sharp fa-solid fa-check"></i>
                                                <span>Polishing mirrors etc</span></li>   
                                    </ul>
                                </div>
                                <div>
                                    <h5>Why Choose Us?</h5>
                                    <ul>
                                        <li style="list-style: disc;">Meticulous Quality Control
                                        <p>A crucial aspect of our apartment deep cleaning services Dubai is ensuring extremely high levels of quality control. To guarantee that your house or place of business is meticulously cleaned each and every time, we have established clearly defined protocols and systems.</p></li>
                                        
                                        <li style="list-style: disc;">Strong Customer Focus
                                        <p>Over the years, a very high degree of customer retention has been made possible by this dedication to customer service.</p></li>
                                    
                                        <li style="list-style: disc;">Affordable and Flexible Services
                                        <p>Every house and business has distinct demands, thus we give you the choice to alter our cleaning packages to meet your requirements and/or spending limits.</p></li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>

                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->


    </div>
    <!--site-main end-->



</div><!-- page end -->


{% endblock %}