{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--page start-->
<div class="page sidebar-true">




    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">SOFA CLEANING</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                            </span>
                            <!-- <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                            <span><span>Wiring And Installation</span></span> -->
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white break-991-colum clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    {% include 'web/partials/sidenavbar.html' %}
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <h3>SOFA CLEANING</h3>
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'web/images/service-single/SOFA CLEANING.jpg' %}"
                                    alt="">
                            </div>
                            <div class="ttm-service-description">
                                <div class="mb-35">
                                    <h5>Your Ideal Sofa Deep Cleaning Sharjah</h5>
                                    <p class="text-justify">For residential and commercial premises, we provide a specialised sofa cleaning services in JLT, Business Bay, Science Park, Silicon Oasis. We can also handle other upholstery and drapes. The sofas will receive a thorough cleaning from our qualified crew, making them look brand new once more. </p>
                                    <p class="text-justify">To ensure that the furniture is immaculate and attractive, our specialists do a thorough and precise treatment. We provide cost-effective maintenance services of the highest calibre for residential and commercial buildings. Simply by doing an intensive clean, we improve the longevity of the floor carpet by getting rid of stains, odours, dust, and filth.</p>
                                    
                                </div>
                                <div>
                                    <h5> Why is Sofa Deep Cleaning Important?</h5>
                                   
                                   <p class="text-justify">Depending on use, upholstery should be cleaned once or twice a year. Less regularly, deep cleaning might be done on furniture pieces that aren't utilised as frequently. Having all of your upholstered furniture thoroughly cleaned at once is simpler. Every four to six months is advised if you have young children or pets that are permitted on the furniture.</p>
                                   <p class="text-justify">By taking care of your upholstery, you can ensure that it continues to serve its purpose of providing you with a relaxing and beautiful space to travel in. Nobody wants to collapse onto a worn-out couch or car seat at the end of a long day, but even high-quality fabric can show signs of degradation if maintained.</p>
                                    <p class="text-justify">Your upholstery will look good if you keep it clean, keeping the colours vibrant and the textures as they should be. Sofa deep cleaning Sharjah removes stains and odours as well. If you have dogs, it's even more crucial to keep your home clean because continuous exposure to these pollutants can damage your upholstery.</p>
                                </div>
                                    <h5>Why Choose Us?</h5>
                                    <ul>
                                        <li style="list-style: disc;">Experience
                                        <p>Our experience in both residential and commercial cleaning is one of the primary factors in choosing us for deep cleaning services. We have been operating routinely for more than 12 years in this industry. Our expertise unquestionably helps our customers in the form of thorough cleaning, hygiene, and certain satisfaction!</p></li>
                                        
                                        <li style="list-style: disc;">Professional and Safe Cleaning Equipment and Services
                                        <p>To ensure complete cleaning, the highest standards of hygiene, and the safest cleaning services, we employ the most modern and secure cleaning tools and solutions. The tools and cleaning agents we employ are severe on stains that are difficult to remove, but not on the surfaces, carpets, or tiles that we clean.</p></li>
                                    
                                        <li style="list-style: disc;">Assurance of Satisfaction
                                        <p>Everything we do is done with the intention of benefiting our clients. As previously said, our meticulous approach, along with our technical know-how and broad experience in the housekeeping and deep cleaning field, allows us to guarantee complete client pleasure.</p></li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>

                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->


    </div>
    <!--site-main end-->



</div><!-- page end -->


{% endblock %}