{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}

<!--page start-->
<div class="page sidebar-true">




    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">WALLPAPER FIXING</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                            </span>
                            <!-- <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                            <span><span>WALLPAPER FIXING</span></span> -->
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- sidebar -->
        <div class="sidebar ttm-sidebar-left ttm-bgcolor-white break-991-colum clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    {% include 'web/partials/sidenavbar.html' %}
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <h3>WALLPAPER FIXING</h3>
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'web/images/service-single/wallpaper.jpg' %}"
                                    alt="">
                            </div>
                            <div class="ttm-service-description">
                                <div class="mb-35">
                                    <p class="text-justify">Wallpapers are the new alternative to wall paintings that have been widely used
                                        nowadays as varieties of patterns and designs are available with them. These
                                        alternatives can bring more graphics and beauty to your interiors. SHTS is
                                        blessed with a team of professionals to deliver the best services at your
                                        doorstep.</p>

                                    <p class="text-justify">
                                        Accentuate the walls of your home with beautiful wallpaper prints and make your
                                        home look more homely. ArtSmiley has all the themes and styles you will require
                                        to decorate the individual walls of your house with artistic richness and
                                        splendour. Print amazing designs or go for artistic portrayals of modern art.
                                        You can decorate your kid's bedroom with cartoon wallpaper prints.
                                        <ul>
                                            <li>Wide range of designs and patterns.</li>
                                            <li>Durable products.
                                            </li>
                                            <li>Cost-effective.
                                            </li>
                                            <li>High sustainability and reliability.
                                            </li>
                                            <li>Easy to clean.
                                            </li>
                                            <li>Attractive walls.
                                            </li>
                                            <li>Easy installation.
                                            </li>

                                        </ul>
                                    </p>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div>



</div>


{% endblock %}