{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}

<!-- page-title -->
<div class="ttm-page-title-row">
    <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box ttm-textcolor-white">
                    <div class="page-title-heading">
                        <h1 class="title">About Us</h1>
                    </div><!-- /.page-title-captions -->
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                        </span>
                        <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                        <span><span>About Us</span></span>
                    </div>
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- page-title end-->

<!--site-main start-->
<div class="site-main">

    <!-- row-text-section -->
    <section class="ttm-row row-text-section ttm-bgcolor-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sep-box text-center">
                        <h2>We Deliver Prompt Services For Everyone</h2>
                        <h6>Delicate customer service and relationship</h6>
                        <div class="sep_holder_box width-30 pt-10">
                            <span class="sep_holder"><span class="sep_line"></span></span>
                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                <i class="fa fa-phone"></i>
                            </div>
                            <span class="sep_holder"><span class="sep_line"></span></span>
                        </div>
                        <h4>Toll Free: 0552 705 394</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- row-text-section end -->

    <!-- about-section -->
    <section class="ttm-row about3-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-12">
                    <!-- ttm_single_image-wrapper -->
                    <div class="ttm_single_image-wrapper mb-35">
                        <img class="img-fluid" src="{% static 'web/images/single-img-ten.png' %}" alt="">
                    </div><!-- ttm_single_image-wrapper end -->
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="pl-20">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>WELCOME TO SHTS</h5>
                                <h2 class="title">We Have 25 Years Experience</h2>
                            </div>
                        </div><!-- section title end -->
                        <p class="text-justify"><strong>Sabeel Al Hidaya Technical Services specializes in contracting works and services for
                                all kind of residential and commercial facilities, and delivers services such as
                                Ventilations & Air Filtration System Installation & Maintenance, Plumbing, Electrical,
                                General maintenance, Electrical Works, Building Cleaning Services, Floor and Wall
                                Tiling, Painting, Carpentry with proven track records of excellent workmanship and
                                dedicated customer satisfaction. </strong></p>
                        <p class="mb-30 text-justify">We specialize in all technical aspects of all sorts of projects, including
                            hospitals, hotels, retail malls, residential complexes, private commercial / residential
                            structures, villas, and industries.
                            Our professionally managed organizational network has proven to be the foundation for
                            fulfilling the overall aims of the firm as a technical service provider. We are always
                            analyzing ourselves and taking the required steps to achieve greatness.</p>
                        <!-- <p>Company CEO : Same Williamson</p> -->
                        <!-- <span><img src="{% static 'web/images/author-sign.png' %}"
                                alt="ttm_single_image-wrapper"></span> -->
                    </div>
                </div>
            </div><!-- row end-->
        </div>
    </section>
    <!-- about-section end -->

    <!--services-box-section-->
    <section class="ttm-row services-box-section bg-img12 clearfix">
        <div class="container">
            <div class="row row-equal-height">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box style1 top-icon text-center ttm-bgcolor-white box-shadow2">
                        <div
                            class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded">
                            <i class="ti ti-flag-alt-2"></i>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Our History</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Sabeel Al Hidaya Technical Services is a well-known technical service that has been delivering fruitful services for all.</p>
                            </div>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box style1 top-icon text-center ttm-bgcolor-white box-shadow2">
                        <div
                            class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded">
                            <i class="ti ti-bag"></i>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Our Mission</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Our mission is to become the number one choice among customers when it comes to technical service providers.</p>
                            </div>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box style1 top-icon text-center ttm-bgcolor-white box-shadow2">
                        <div
                            class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded">
                            <i class="ti ti-eye"></i>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Our Vision</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Our vision is to become a proven to be foundation for fulfilling the overall aims of the firm as a technical service provider.</p>
                            </div>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!-- services-box-section end -->


    <!-- fid-section -->
    <section class="ttm-row fid2-section bg-img13 ttm-bgcolor-skincolor ttm-bg ttm-bgimage-yes clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row ttm-facts-colum-sep">
                <div class="col-md-3">
                    <div class="ttm-fid inside ttm-fid-view-topicon">
                        <div class="ttm-fid-icon-wrapper"><i class="ti ti-light-bulb"></i></div>
                        <div class="ttm-fid-contents">
                            <h4><span data-appear-animation="animateDigits" data-from="0" data-to="48"
                                    data-interval="10" data-before="" data-before-style="sup" data-after=""
                                    data-after-style="sub">48
                                </span>
                            </h4>
                            <h3 class="ttm-fid-title"><span>Completed Projects<br></span></h3>
                        </div><!-- ttm-fid-contents end -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ttm-fid inside ttm-fid-view-topicon">
                        <div class="ttm-fid-icon-wrapper"><i class="ti ti-paint-roller"></i></div>
                        <div class="ttm-fid-contents">
                            <h4><span data-appear-animation="animateDigits" data-from="0" data-to="35"
                                    data-interval="5" data-before="" data-before-style="sup" data-after=""
                                    data-after-style="sub">35
                                </span>
                            </h4>
                            <h3 class="ttm-fid-title"><span>Expert Worker<br></span></h3>
                        </div><!-- ttm-fid-contents end -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ttm-fid inside ttm-fid-view-topicon">
                        <div class="ttm-fid-icon-wrapper"><i class="ti ti-star"></i></div>
                        <div class="ttm-fid-contents">
                            <h4><span data-appear-animation="animateDigits" data-from="0" data-to="110"
                                    data-interval="10" data-before="" data-before-style="sup" data-after=""
                                    data-after-style="sub">110
                                </span>
                            </h4>
                            <h3 class="ttm-fid-title"><span>Happy Customers<br></span></h3>
                        </div><!-- ttm-fid-contents end-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ttm-fid inside ttm-fid-view-topicon">
                        <div class="ttm-fid-icon-wrapper"><i class="ti ti-cup"></i></div>
                        <div class="ttm-fid-contents">
                            <h4><span data-appear-animation="animateDigits" data-from="0" data-to="8"
                                    data-interval="10" data-before="" data-before-style="sup" data-after=""
                                    data-after-style="sub">8
                                </span>
                            </h4>
                            <h3 class="ttm-fid-title"><span>Award Winner<br></span></h3>
                        </div><!-- ttm-fid-contents end-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fid-section end -->

    {% comment %}
    <!--only-title-section-->
    <section class="ttm-row only-title-section style2 ttm-bgcolor-darkgrey clearfix">
        <div class="container">
            <!-- row -->
            <!-- row -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- section title -->
                    <div class="section-title with-desc title-style-center_text clearfix">
                        <div class="title-header">
                            <h5>MEET OUR TEAM</h5>
                            <h2 class="title">A Professional Our Team</h2>
                        </div>
                        <div class="title-desc">Sabeel Al Hidaya Technical Services consists of talented individual for ensuring best services for every customer.</div>
                    </div><!-- section title end -->
                </div>
                <div class="col-md-2"></div>
            </div><!-- row end -->
        </div>
    </section>
    <!--only-title-section-->


    <!--team-section-->
    <section class="ttm-row team-section mt_70 res-991-mt_15 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="wrap-team team-slide owl-carousel" data-item="3" data-nav="false" data-dots="false"
                    data-auto="false">
                    <!-- featured-imagebox-team -->
                    <div class="featured-imagebox featured-imagebox-team ttm-team-box-view-overlay">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'web/images/team-member/team-img01.jpg' %}"
                                alt="image">
                        </div>
                        <div class="featured-content featured-content-team">
                            <div class="featured-title">
                                <h5><a href="#">Alex Edward</a></h5>
                            </div>
                            <p class="category">Plumber</p>
                            <div class="ttm-social-links-wrapper">
                                <ul class="social-icons list-inline">
                                    <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#"
                                            data-tooltip="Facebook"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a></li>
                                    <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="#"
                                            data-tooltip="LinkedIn"><i class="fa fa-linkedin"
                                                aria-hidden="true"></i></a></li>
                                    <li class="social-gplus"><a class=" tooltip-top" target="_blank" href="#"
                                            data-tooltip="Google+"><i class="fa fa-google-plus"
                                                aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- featured-imagebox-team end-->
                    <!-- featured-imagebox-team -->
                    <div class="featured-imagebox featured-imagebox-team ttm-team-box-view-overlay">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'web/images/team-member/team-img02.jpg' %}"
                                alt="image">
                        </div>
                        <div class="featured-content featured-content-team">
                            <div class="featured-title">
                                <h5><a href="#">Harly Rayan</a></h5>
                            </div>
                            <p class="category">Electrician</p>
                            <div class="ttm-social-links-wrapper">
                                <ul class="social-icons list-inline">
                                    <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#"
                                            data-tooltip="Facebook"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a></li>
                                    <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#"
                                            data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="#"
                                            data-tooltip="Instagram"><i class="fa fa-instagram"
                                                aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- featured-imagebox-team end-->
                    <!-- featured-imagebox-team -->
                    <div class="featured-imagebox featured-imagebox-team ttm-team-box-view-overlay">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'web/images/team-member/team-img03.jpg' %}"
                                alt="image">
                        </div>
                        <div class="featured-content featured-content-team">
                            <div class="featured-title">
                                <h5><a href="#">Andrew Bon</a></h5>
                            </div>
                            <p class="category">Cleaner</p>
                            <div class="ttm-social-links-wrapper">
                                <ul class="social-icons list-inline">
                                    <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#"
                                            data-tooltip="Facebook"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a></li>
                                    <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#"
                                            data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="#"
                                            data-tooltip="Youtube"><i class="fa fa-youtube-play"
                                                aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- featured-imagebox-team end-->
                    <!-- featured-imagebox-team -->
                    <div class="featured-imagebox featured-imagebox-team ttm-team-box-view-overlay">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'web/images/team-member/team-img04.jpg' %}"
                                alt="image">
                        </div>
                        <div class="featured-content featured-content-team">
                            <div class="featured-title">
                                <h5><a href="#">John Martin</a></h5>
                            </div>
                            <p class="category">Home Maintenance</p>
                            <div class="ttm-social-links-wrapper">
                                <ul class="social-icons list-inline">
                                    <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#"
                                            data-tooltip="Facebook"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a></li>
                                    <li class="social-gplus"><a class=" tooltip-top" target="_blank" href="#"
                                            data-tooltip="Google+"><i class="fa fa-google-plus"
                                                aria-hidden="true"></i></a></li>
                                    <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="#"
                                            data-tooltip="Flickr"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- featured-imagebox-team end-->
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--team-section end-->
    {% endcomment %}

    
    {% comment %}
    <!--processbox-section-->
    <section class="ttm-row processbox2-section break-991-colum clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- section title -->
                    <div class="section-title with-desc title-style-center_text clearfix">
                        <div class="title-header">
                            <h5>HOW IT WORKS</h5>
                            <h2 class="title">Follow 4 Easy Steps</h2>
                        </div>
                        <div class="title-desc">Raising a heavy fur muff that covered the whole of her lower arm
                            towards the viewer regor then turned to look out the window</div>
                    </div><!-- section title end -->
                </div>
                <div class="col-md-2"></div>
            </div><!-- row end-->
            <div class="row">
                <!-- row -->
                <div class="col-lg-12">
                    <div class="ttm-processbox-wrapper">
                        <div class="ttm-processbox">
                            <div class="ttm-box-image">
                                <img class="img-fluid" src="{% static 'web/images/step-one.jpg' %}" alt="step-one"
                                    title="step-one">
                                <div class="process-num">
                                    <span class="number">01</span>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Schedule your Experience</h5>
                                </div>
                                <div class="ttm-box-description">He found himself transformed in his bed into a
                                    horrible vermin.</div>
                            </div>
                        </div>
                        <div class="ttm-processbox">
                            <div class="ttm-box-image">
                                <img class="img-fluid" src="{% static 'web/images/step-two.jpg' %}" alt="step-two"
                                    title="step-two">
                                <div class="process-num">
                                    <span class="number">02</span>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Get Professional Advices</h5>
                                </div>
                                <div class="ttm-box-description">He found himself transformed in his bed into a
                                    horrible vermin.</div>
                            </div>
                        </div>
                        <div class="ttm-processbox">
                            <div class="ttm-box-image">
                                <img class="img-fluid" src="{% static 'web/images/step-three.jpg' %}" alt="step-three"
                                    title="step-three">
                                <div class="process-num">
                                    <span class="number">03</span>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Meet Your Handyman Expert</h5>
                                </div>
                                <div class="ttm-box-description">He found himself transformed in his bed into a
                                    horrible vermin.</div>
                            </div>
                        </div>
                        <div class="ttm-processbox">
                            <div class="ttm-box-image">
                                <img class="img-fluid" src="{% static 'web/images/step-four.jpg' %}" alt="step-four"
                                    title="step-four">
                                <div class="process-num">
                                    <span class="number">04</span>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Get a Best Our Services At Door</h5>
                                </div>
                                <div class="ttm-box-description">He found himself transformed in his bed into a
                                    horrible vermin.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--processbox2-section end-->
    {% endcomment %}
</div>
<!--site-main end-->


{% endblock %}