{% extends 'web/base-two.html' %}

<title>{{seo_services.title}}</title>
<meta name="keywords" content="{{seo_services.meta_keywords}}">
<meta name="title" content="{{seo_services.meta_title}}">
<meta name="description" content="{{seo_services.meta_description}}">


{% load static %}
{% block content %}


        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title">Services</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="/"><i class="ti ti-home"></i></a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                                <span><span>Services 2</span></span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">

            <!-- service-section -->
            <section class="ttm-row services2-section pb-110 clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <!-- section title -->
                            <div class="section-title with-desc title-style-center_text clearfix">
                                <div class="title-header">
                                    <h5>OUR SERVICES</h5>
                                    <h2 class="title">GET YOUR FINEST <br>SERVICES FROM SHTS</h2>
                                </div>
                                <div class="title-desc">Sabeel Al Hidaya Technical Services offers the following awesome services at the best grade.</div>
                            </div><!-- section title end -->
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mt-10">

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/air.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:ac_service' %}">A/C SERVICES & REPAIRS
                                            </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>In today's society, both home and business owners urgently require air conditioning. SHTS is the only company you need to contact whether you are a business owner or just want your house to be more comfortable. We offer you top-notch A/C services and repairs.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/electro.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:electrical_service' %}">ELECTRICALS
                                            </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We offer exceptional electrical services to residential and business clients. We have expertise working with a wide range of enterprises, agencies, buildings, and community organisations to provide a diverse range of electrical services and electrical contractors.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/plumbing.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:plumbing_service' %}">PLUMBING
                                            </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Our plumbing services are designed to maintain the effectiveness and efficiency of your system. Whether the task is a straightforward repair or a comprehensive installation, we have the knowledge and skills to perform it successfully.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/tiling.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:tiling_service' %}"> TILING</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We are experts at both installing and removing tiles in addition to replacing old ones. We provide a wide range of flooring options, including marble, wood, ceramic tiles, and many others.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/painting.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:painting_service' %}">PAINTING
                                            </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>SHTS can assist you if you need an interior paint specialist for your bedroom, living room, or complete house. Our goal is to connect you with reputable professionals who can help you save time and money, reduce stress, and build a beautiful home.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/carpentary.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:carpentry_service' %}">CARPENTRY
                                            </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We are a group of amiable, dependable craftspeople dedicated to remodelling residences and commercial buildings. We put the highest care and attention into every work we take on. Selecting us puts you in good hands with greater results, no additional fees, and full insurance.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>



                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Insulation Contracting.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:masonry_service' %}">MASONRY </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We make sure that every masonry project is meticulously planned and performed on time so that clients always come back to us for their subsequent masonry needs.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/wall paper-fixing.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:wallpaper_fixing' %}">WALLPAPER FIXING </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We provide a wide variety of wallpaper types and can assist you with any home improvement project you may be considering to spruce up your house. We have information for you if you'd like to know more about the procedure that painting firms follow while wallpapering, how to acquire the best quotations, or how to pick the appropriate wallpaper for each room in your home.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Partitions & False Ceilings.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:general_maintanance' %}">GENERAL MAINTENANCE</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We have a very diverse set of trade skills and a high standard of workmanship, and we would like to be your first choice for any building and construction work, property maintenance, renovations, or alterations. SHTS is capable of providing all types of general maintenance services for commercial or residential units.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Building Cleaning Services.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:building_cleaning_service' %}">BUILDING CLEANING  </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We take pleasure in the fast and high-quality services that our hardworking staff offers. Our business is entirely committed to meeting the demands of our clients with creative solutions that are reliable, dependable, safe, and efficient.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                       
                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Building Cleaning Services.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:residential_cleaning' %}">RESIDENTIAL CLEANING</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Welcome to the best apartment deep cleaning services Dubai provided by SHTS. We are solely committed to cleaning and organising your home, in contrast to other cleaning businesses. </p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Building Cleaning Services.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:sofa_cleaning' %}">SOFA CLEANING</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>For residential and commercial premises, we provide a specialised sofa cleaning services in JLT, Business Bay, Science Park, Silicon Oasis. We can also handle other upholstery and drapes. The sofas will receive a thorough cleaning from our qualified crew, making them look brand new once more.  </p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Building Cleaning Services.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:construction_cleaning' %}">CONSTRUCTION CLEANING</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We have what you need to maintain your job site operational while you finish your project. We can take care of everything from routine cleaning during various stages of construction to post-construction cleaning to special one-time thorough cleans.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Building Cleaning Services.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:carpet_cleaning' %}">CARPET CLEANING</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>We have what you need to maintain your job site operational while you finish your project. We can take care of everything from routine cleaning during various stages of construction to post-construction cleaning to special one-time thorough cleans.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Building Cleaning Services.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:mattress_cleaning' %}">MATTRESS CLEANING</a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Hire SHTS if you don't want to feel anxious about having to clean your carpet and furniture. At extremely reasonable pricing in Sharjah and Dubai, our specialists do their best to keep your carpets, rugs, mattress, & sofa gleaming & fresh for a long time.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                        <div class="col-md-4">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox box-shadow2 mb-30">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{% static 'web/images/sats/Building Cleaning Services.jpg' %}" alt="">
                                </div>
                                <div class="ttm-box-bottom-content">
                                    <div class="featured-title featured-title">
                                        <h5><a href="{% url 'web:office_cleaning' %}">OFFICE CLEANING </a></h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>The cleanliness of your office space can have a more significant effect on your productivity. Many people are concerned with keeping their houses clean and orderly, but neglect to give office cleaning the same attention.</p>
                                        <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-icon-btn-right ttm-btn-style-border ttm-btn-color-black mt-10"
                                            href="#">MORE DETAILS<i
                                                class="ti ti-angle-double-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox end-->
                        </div>

                    </div><!-- row end -->
                </div>
            </section>
            <!-- service-section end -->

        </div>
        <!--site-main end-->

{% endblock %}