{% load static %}
<!--footer start-->
<footer class="footer widget-footer clearfix">
   
    <div class="second-footer ttm-textcolor-white">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
                    <div class="widget clearfix">
                        <div class="footer-logo">
                            <img id="footer-logo-img" class="img-center"
                                src="{% static 'web/images/footer-logo.png' %}" alt="">
                        </div>
                        <p>We work to ensure people’s com fort at their company specializing in house holance.
                            During ourour</p>
                    </div>
                    <div class="widget widget_text clearfix">
                        <h3 class="widget-title">Work Days</h3>
                        <div class="textwidget widget-text">
                            <div class="ttm-pricelistbox-wrapper ">
                                <div class="ttm-timelist-block-wrapper">
                                    <ul class="ttm-timelist-block">
                                        <li>Mon - sat <span class="service-time">09am - 05pm</span></li>
                                        <li>Sunday<span class="service-time"><strong>Closed</strong></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
                    <div class="widget widget_nav_menu clearfix">
                        <h3 class="widget-title">Our Services</h3>
                        <ul id="menu-footer-services">

                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'web:services' %}">Services</a></li>
                            <li><a href="{% url 'web:about' %}">About</a></li>
                            <li><a href="{% url 'web:gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'web:contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
                    <div class="widget widget_text clearfix">
                        <h3 class="widget-title">Get Free Estimate</h3>
                        <div class="textwidget widget-text">
                            <h3 class="ttm-textcolor-skincolor">0552 705 394</h3>
                            <h3 class="ttm-textcolor-skincolor">0507 771 996 </h3>
                            <p>Our online scheduling and payment system is safe.</p>
                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-white mt-15 mb-20"
                                href="#">REQUEST WITH ONLINE FORM</a>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
                    <div class="widget flicker_widget clearfix">
                        <h3 class="widget-title">Flickr</h3>
                        <div class="ttm-flicker-widget-wrapper">
                            <a href="#"><img src="{% static 'web/images/flicker/01.jpg' %}"
                                    alt="A photo on Flickr" title="themetech-one"></a>
                            <a href="#"><img src="{% static 'web/images/flicker/02.jpg' %}"
                                    alt="A photo on Flickr" title="themetech-two"></a>
                            <a href="#"><img src="{% static 'web/images/flicker/03.jpg' %}"
                                    alt="A photo on Flickr" title="themetech-three"></a>
                            <a href="#"><img src="{% static 'web/images/flicker/04.jpg' %}"
                                    alt="A photo on Flickr" title="themetech-four"></a>
                            <a href="#"><img src="{% static 'web/images/flicker/05.jpg' %}"
                                    alt="A photo on Flickr" title="themetech-five"></a>
                            <a href="#"><img src="{% static 'web/images/flicker/06.jpg' %}"
                                    alt="A photo on Flickr" title="themetech-six"></a>
                            <a href="#"><img src="{% static 'web/images/flicker/07.jpg' %}"
                                    alt="A photo on Flickr" title="themetech-seven"></a>
                            <a href="#"><img src="{% static 'web/images/flicker/08.jpg' %}"
                                    alt="A photo on Flickr" title="themeteh-eight"></a>
                            <a href="#"><img src="{% static 'web/images/flicker/09.jpg' %}"
                                    alt="A photo on Flickr" title="themetech-nine"></a>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
    <div class="bottom-footer-text ttm-textcolor-white">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-8 ttm-footer2-left">
                    <span>Copyright © 2022&nbsp;<a href="#">SHTS</a>. All rights reserved.</span>
                </div>
                <div class="col-md-4 ttm-footer2-right">
                    <div class="social-icons">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
